/* styling.css */
body{
    background-color: rgba(176, 34, 12, 0.604);
    font-family: sans-serif;
}
.links{
    background-color: rgb(241, 241, 203);
    padding-top: 5px;
    padding-bottom: 5px;

}
.links a{
    font-weight: bolder;
    font-size: 18px;
    color: rgb(33, 33, 33);
    text-decoration: none;
} 

.links li{
    list-style: none;
    display: inline;
    margin: 80px;
    
}

.section2{
    height: 450px;
    font-family: sans-serif;
    background-color:  rgb(241, 241, 203);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    }
    .box1 img{
        height: 200px;
        width: 200px; 
    }
    .top{
     font-size: 20px;
    }
    .down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .box1{
    border: 3px solid rgba(176, 34, 12, 0.604);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 30px;
    
    }
    .underbox1{
    width: 200px;
    margin: 29px;
    font-weight: lighter;
    position: relative;
    top: -50px;
    }
    .downbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.section3{
    background-color: rgb(241, 241, 203); 
    margin-top: 40px; 
    height: 100px;
    font-family: sans-serif;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.testimonial{
    font-size: 27px;
        font-style: italic;
        color: rgb(73, 71, 71);
        width: 620px;
        height: 100px;
        display: flex;  
        }
        .thor{
        position: relative;
        font-style: italic;
        font-weight: bold;
        left: 250px;
        top: -40px;
        }
        .section4{
            display: flex;
            justify-content: center;
            padding: 70px;
            height: 100px;
        }
        .section4a{
          height: 100px;
          width: 720px;
          background-color: rgb(241, 241, 203); 
          border-radius: 5px;
          font-family: sans-serif;
        }
        .call{
          position: relative;
          top: 15px;
          left: 90px;
          color: black;
        }
        .product{
        position: relative;
        left: 90px;
        color: black;
        font-size: 11px;
        }
        .up{
        border: 2px solid rgba(176, 34, 12, 0.604);
        color: rgba(176, 34, 12, 0.604);
        background-color: rgb(241, 241, 203);
        border-radius: 5px;
        font-weight: bolder;
        height: 30px;
        width: 100px;
        position: relative;
        left: 72%; 
        top: -40px;
         
        } 
        .copyright{
            background-color: rgb(241, 241, 203);
            height: 10%;
            display: flex;
            justify-content: center;
        
        }
        p.copy{
            color: black;
            padding: 13px;
            position: relative;
            font-family: sans-serif;
            font-size: 13px;
            font-weight: lighter;
        }
h1{
    text-align: center;
    background-color:  rgb(241, 241, 203);
    padding: 10px;
    margin-top: 20px;
    font-size: 40px;
}
 /* about to style chicken_stir-fry.html */
 .chick{
    height: 400px;
    background-color: rgb(241, 241, 203);

 }
 .stir img{
    width: 300px;
    height: auto;
    border: 3px solid rgba(176, 34, 12, 0.604);
    border-radius: 10px;
    position: relative;
    left: 750px;
    top: 50px;
 }
 .fry{
    width: 400px;
    position: relative;
    font-size: 20px;
    left:160px;
    top: -270px;
 }
 .what{
    font-size: 40px;
    position: relative;
    left:160px;
    top: -250px;  
 }
 .chic{
    height: 400px;
    background-color: rgb(241, 241, 203);

 }
 .sti img{
    width: 400px;
    height: auto;
    border: 3px solid rgba(176, 34, 12, 0.604);
    border-radius: 10px;
    position: relative;
    left: 730px;
    top: 50px;
}
.fri{
    width: 400px;
    position: relative;
    font-size: 20px;
    left: 100px;
    top: -270px;
 }
 .wha{
    width: 500px;
    font-size: 35px;
    position: relative;
    left: 100px;
    top: -250px; 
 } 
 .ing{
    background-color:  rgb(241, 241, 203);
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
 }
 ul{
    font-size: 20px;
    text-align: center;
 }
 ul li{
    list-style-type: none;

 }
 ol{
    font-size: 20px;
    text-align: justify;
    
 }

 li{
    margin-bottom: 10px;
 }